@font-face {
  font-family: SpecialElite;
  src: url(media/SpecialElite-Regular.ttf);
}
html {
  font-family: "SpecialElite", "LectraBold", "Distressed Telegraph", "Architects Daughter", sans-serif;
} 
/* nav bar css */
#nav-bar1 { 
  background-color: black;
  overflow: hidden;
  font-size: 1.875em;
}
#onpage1 {
  background-color: #442A00;
  text-decoration-style: double;
}
#nav-bar1 ul li a {
  display: block;
  padding: 10px 20px;
  color: #FFE1AF;
  text-decoration: none;
  background-color: black;
}
#nav-contain {
  float: left;
  width: 100%;
  position: relative;
  border: 0.25em dashed #FFE1AF;
}
#nav-bar1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar1 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
/* home page css */
#home h1 {
  background-color: #AA7F39;
  color: FFE1AF;
  font-size: 3em;
  padding: 1em;
  text-align: center;
}
#home main {
  width: 80%;
  padding: 1.2em;
}
#home h2 {
  font-size: 2em;
  color: #775113;
  line-height: 1.5em;
}
#homeBusiness a {
  color: #442A00;
  font-size: 2em;
  text-decoration: none;
  line-height: 1.5em;
}
#home p {
  color: black;
  font-size: 1.5em;
  margin-left: 1em;
  line-height: 1.25em;
}
#homeBusiness ul li {
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 1em;
  color: black;
  line-height: 1.25em;
} 
#homeBusiness ul {
  list-style-type: none;
}
#homeBusiness {
  position: absolute;
  color: #442A00;
  top: 2rem;
  background-color: white;
  padding: 0 1rem;
}
.medium img {
  display: none;
}
.large img {
  display: none;
}
.image-text-container {
  position: relative;
  margin: 5%;
}
/* social media icons */
.fa-instagram {
  background: #442a00;
  color: #FFE1AF;
}
.fa-facebook {
  background: #442a00;
  color: #FFE1AF;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* footer */
footer {
  background-color: #AA7F39;
  display: grid;
  justify-items: end;
  grid-template-columns: auto auto auto;
  align-items: flex-start;
  line-height: 1.5em;
}
#footer img {
  height: auto;
  width: 20%;
  float: left;
}
#footer a {
  color: #442a00;
  font-size: 1.5em;
}
#footerLogo {
  display: block;
  grid-column: 1 / 3;
}
#footerImportantInfo {
  display: block;
  grid-column: 2 / 3;
}
#footerLinks {
  display: block;
  grid-column: 2 / 3;
}
@media (min-width: 900px) {
  .small img {
    display: none;
  }
  .medium img {
    display: inline;
  }
  .large img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .small img {
    display: none;
  }
  .medium img {
    display: none;
  }
  .large img {
    display: inline;
  }
}