@font-face {
  font-family: SpecialElite;
  src: url(media/SpecialElite-Regular.ttf);
}
html {
  font-family: "SpecialElite", "LectraBold", "Distressed Telegraph", "Architects Daughter", sans-serif;
} 
/* nav bar css */
#nav-bar1 { 
  background-color: black;
  overflow: hidden;
  font-size: 1.875em;
}
#onpage1 {
  background-color: #442A00;
  text-decoration-style: double;
}
#nav-bar1 ul li a {
  display: block;
  padding: 10px 20px;
  color: FFE1AF;
  text-decoration: none;
  background-color: black;
}
#nav-contain {
  float: left;
  width: 100%;
  position: relative;
  border: 1em dashed FFE1AF;
}
#nav-bar1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#nav-bar1 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
/* home page css */
#home h1 {
  background-color: #AA7F39;
  color: FFE1AF;
  font-size: 3 em;
  padding: 1em;
}
#home main {
  width: 80%;
  padding: 1.2em;
}
#home h2 {
  font-size: 2em;
  color: #775113
}
#homeBusiness a {
  color: #442A00;
  font-size: 2em;
  text-decoration: none;
}
#home p {
  color: black;
  font-size: 1.5em;
  margin-left: 1em;
}
#homeBusiness ul li {
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 1em;
  color: black;
} 
#homeBusiness ul {
  list-style-type: none;
}
/*Slideshow*/
#slideshow-container img {
  width: 100%;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.75em;
  padding: 0.5em 0.75em;
  position: absolute;
  top: 0;
}
/* social media icons */
.fa-instagram {
  background: #442a00;
  color: #FFE1AF;
}
.fa-facebook {
  background: #442a00;
  color: #FFE1AF;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* footer */
footer {
  background-color: #AA7F39;
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
#footer img {
  height: auto;
  width: 100px;
}
#footerLogo {
  display: inline-block;
  grid-column: 1 / 3;
}
#footerImportantInfo {
  display: inline-block;
  grid-column: 2 / 3;
}
#footerLinks {
  display: inline-block;
  grid-column: 2 / 3;
}
@media (min-width: 900px) {
  
  
}
@media (min-width: 1200px) {
  
  
  
}